<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>MainChatServlet</servlet-name>
        <servlet-class>com.webchat.MainChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecurityServlet</servlet-name>
        <servlet-class>com.webchat.SecurityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomServlet</servlet-name>
        <servlet-class>com.webchat.RoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatRoomServlet</servlet-name>
        <servlet-class>com.webchat.ChatRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatEntryServlet</servlet-name>
        <servlet-class>com.webchat.ChatEntryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainChatServlet</servlet-name>
        <url-pattern>/webchat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecurityServlet</servlet-name>
        <url-pattern>/secure</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomServlet</servlet-name>
        <url-pattern>/RoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatRoomServlet</servlet-name>
        <url-pattern>/ChatRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatEntryServlet</servlet-name>
        <url-pattern>/ChatEntryServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>webchat</welcome-file>
    </welcome-file-list>
</web-app>
